@page "/"
@using MonitoringDashboard.Data
@using MonitoringDashboard.Services
@inject AppDbContext Db
@inject ServiceChecker ServiceChecker
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<section>
    <h2 class="text-2xl">Monitored services</h2>
    
    <NavLink href="/add-monitored-service">Add monitored service</NavLink>
    
    @foreach(var monitoredService in _monitoredServices)
    {
        <MonitoredServiceCard MonitoredService="monitoredService" />
        <button @onclick="() => CheckServiceNow(monitoredService)">Check</button>
        
        <div class="flex flex-col gap-y-4">
            @foreach(var check in monitoredService.Checks.OrderByDescending(c => c.CheckedAt).Take(5))
            {
                <div class="ml-4 @(check.IsSuccessful ? "bg-green-100" : "bg-red-100") p-2 rounded">
                    <span>Status: @(check.IsSuccessful ? "Successful" : "Failed")</span>
                    <br/>
                    <span>Response Time: @check.ResponseTimeMilliseconds ms</span>
                    <br/>
                    <span>Status Code: @(check.StatusCode != 0 ? check.StatusCode.ToString() : "N/A")</span>
                    <br/>
                    <span>Status Message: @(check.ResponseContentSnippet ?? "None")</span>
                    <br/>
                    <span>Checked At: @check.CheckedAt.ToLocalTime()</span>
                </div>
            }
        </div>
    }
</section>