@if (IsOpen)
{
    <div class="fixed inset-0 bg-black/50 z-[10000]" @onclick="Close">
        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[400px] bg-neutral-800 p-6 rounded-sm flex flex-col gap-4 shadow-lg border-zinc-700"
             @onclick:stopPropagation>
            <header class="flex justify-between items-center mb-4">
                <h3 class="text-xl font-bold">@Title</h3>
                <button class="text-zinc-400 hover:text-zinc-100" @onclick="Close">✖</button>
            </header>

            <div class="mb-4">
                @ChildContent
            </div>

            @if (ShowFooter)
            {
                <footer class="flex justify-end gap-2">
                    <button class="button-primary @CancelButtonClass" @onclick="Close">@CancelButtonText</button>
                    <button class="button-primary bg-aero-500 rounded hover:bg-aero-600 @ConfirmButtonClass" @onclick="Confirm">@ConfirmButtonText</button>
                </footer>
            }
        </div>
    </div>
}