@page "/dashboard/services/{Id:guid}"
@using Microsoft.AspNetCore.Authorization
@using MonitoringDashboard.Components.Shared
@using MonitoringDashboard.Components.Shared.Incidents
@layout DashboardLayout
@inherits MonitoringDashboard.Components.Shared.MonitoredService.MonitoredServiceCardBase
@rendermode InteractiveServer
@attribute [Authorize]

<div class="mb-4">
    <h1 class="text-4xl">@MonitoredService.Name</h1>
    <NavLink Href="@MonitoredService.Url" class="text-xl">@MonitoredService.Url</NavLink>
</div>

<div class="p-4 bg-neutral-800 border border-zinc-700 rounded mb-6 border-s-4 @(ServiceUp ? "border-s-green-500" : "border-s-red-500")">
    <ServiceStatusBar Statuses="Statuses"/>
</div>

<div class="flex w-full mb-6 flex-row gap-4 rounded">
    <ServiceBlock>
        <span>Uptime (24 hours)</span>
        <strong class="text-3xl">@GetUptimePercentageTimeSpan(TimeSpan.FromHours(24))%</strong>
    </ServiceBlock>
    <ServiceBlock>
        <span>Uptime (7 days)</span>
        <strong class="text-3xl">@GetUptimePercentageTimeSpan(TimeSpan.FromDays(7))%</strong>
    </ServiceBlock>
    <ServiceBlock>
        <span>Uptime (30 days)</span>
        <strong class="text-3xl">@GetUptimePercentageTimeSpan(TimeSpan.FromDays(30))%</strong>
    </ServiceBlock>
    <ServiceBlock>
        <span>Uptime (365 days)</span>
        <strong class="text-3xl">@GetUptimePercentageTimeSpan(TimeSpan.FromDays(365))%</strong>
    </ServiceBlock>
</div>
<div class="flex w-full flex-row gap-4 rounded">
    <ServiceBlock>
        <span>Average response time (24 hours)</span>
        <strong class="text-3xl">@GetAverageResponseTime(TimeSpan.FromHours(24))ms</strong>
    </ServiceBlock>
    <ServiceBlock>
        <span>Average response time (7 days)</span>
        <strong class="text-3xl">@GetAverageResponseTime(TimeSpan.FromDays(7))ms</strong>
    </ServiceBlock>
</div>

<h2 class="text-3xl mb-3 mt-6">Incidents</h2>
<IncidentsTable ServiceIncidents="_serviceIncidents" 
                OnPageChanged="(currentPage) => UpdateIncidents(currentPage)"
                OnMaxIncidentsToShowChanged="(maxIncidents) => HandleMaxIncidentsChanged(maxIncidents)"
                TotalIncidentsCount="_totalIncidentsCount"/>